<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="InstaBugWebTest">
    <test name="Instabug Tests Firefox" parallel="classes" thread-count="2">
        <parameter name="browser" value="firefox"/>
        <classes>
            <class name="tests.GoogleSearchTest"></class>
            <class name="tests.HdfcBankTest"></class>
            <class name="tests.TwoPlugsTest"></class>
            <class name="tests.HeroKuAppTest"></class>
            <class name="tests.ToolTipTest"></class>
        </classes>
    </test>

</suite> <!-- Suite -->